


<div class="container" style="display: none"><br />
<input type="text" ng-city="city" placeholder="Enter a city" />
<div ng-sparkline ng-city="city"></div>
<br />
</div>

<div class='container' id="demoBox" style="display: none">
    Name:
    <br />
    <input type="text" data-ng-model="filter.name" /> Filtering by: {{ filter.name }}
    <br />
    <ul>
        <li data-ng-repeat="cust in customers | filter :filter.name | orderBy:'city'">{{cust.name}} - {{cust.city}}</li>
    </ul>
    
    
    <form ng-submit="addCustomer()">
    <br />
    Customer Name:<br />
    <input type="text" data-ng-model="newCustomer.name" />
    <br />
    Customer City:<br />
    <input type="text" data-ng-model="newCustomer.city" />
    <br />
        <button type="submit" class="submitbutton">Add Customer</button>
    </form>
</div>
